<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div>
        <table class="table table-striped" style="table-layout: fixed; overflow: hidden">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>본문</th>
                <th>작성자</th>
                <th>게시일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">

                <td th:text="${post.id}" ></td>
                <td>
                    <a th:href="@{/posts/{id} (id=${post.id})}" th:text="${post.title}"></a>
                </td>
                <td th:text="${post.body}" style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"></td>
                <td th:text="${post.member.name}"></td>
                <td th:text="${post.postDate}"></td>
                <td th:text="${post.hit}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>